@model MvcOkul.Models.Entity.TblOgrenciler
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Öğrenci Adı</label>
        <input type="text" class="form-control" name="OgrAd" />
    </div>
    <br />
    <div>
        <label>Öğrenci Soyadı</label>
        <input type="text" class="form-control" name="OgrSoyad" />
    </div>
    <br />
    <div>
        <label>Öğrenci Fotoğrafı</label>
        <input type="text" class="form-control" name="OgrFoto" />
    </div>
    <br />
    <div>
        <label>Öğrenci Cinsiyeti</label>
        <input type="text" class="form-control" name="OgrCinsiyet" />
    </div>
    <br />
    <div>
        <label>Kulübü</label>
        @Html.DropDownListFor(m=>m.TblKulupler.KulupId,(List<SelectListItem>)ViewBag.mesaj,new { @class="form-control"})
    </div>
    <br />
    <div>
        <button class="btn btn-primary">Öğrenciyi Ekle</button>
    </div>
</form>


